doctype html
html(lang='pl-PL')
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible' content='IE=edge")
    title Quiz
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css')
    link(rel='stylesheet', type='text/css', media='screen', href='main.css')
    script(type='module', src='main.js', defer='')
  body
    nav.navbar(role='navigation')
      .navbar-brand
        a.navbar-item(href='quiz.html')
          h1.title.is-3 Quiz
        a#navButton.navbar-burger.burger(role='button', data-target='navMenu')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
      #navMenu.navbar-menu
        .navbar-start
          a.navbar-item(href='#introduction')
            | Wprowadzenie
          a.navbar-item(href='play.html')
            | Rozpocznij quiz
          .navbar-item.has-dropdown.is-hoverable
            a.navbar-link
              | Więcej
            .navbar-dropdown
              a.navbar-item(href='#instruction')
                | Instrukcja
              a.navbar-item(href='#questions')
                | Lista pytań
              a.navbar-item(href='#ranking')
                | Ranking
        .navbar-end
          .navbar-item
            .buttons
              a#loginButton.button.is-primary(class=user ? 'is-hidden' : '')
                strong Log in
              a#changePassButton.button.is-info(class=!user ? 'is-hidden' : '')
                strong Change password
              a.button(class=!user ? 'is-hidden' : '', href='/logout')
                strong Logout

    //MODAL
    #loginPanel.modal(class=showPanel ? 'is-active' : '')
      #panelBg.modal-background
      .modal-content
        .box
          .article
            form(action='login' method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                .field
                  label.label Username
                  .control.has-icons-left
                    input#username.input(class=userErr ? 'is-danger' : '', type='text', placeholder='Username' name='username' required)
                    span.icon.is-small.is-left
                      i.fas.fa-user
                  if userErr
                    p.help.is-danger= userErr
                .field
                  label.label Password
                  .control.has-icons-left
                    input#password.input(class=passErr ? 'is-danger' : '', type='password', placeholder='Password' name='password' required)
                    span.icon.is-small.is-left
                      i.fas.fa-lock
                  if passErr
                    p.help.is-danger= passErr
                .field
                  p.control
                    input.button.is-success(type='submit' value='Zaloguj')
      #panelClose.modal-close.is-large(aria-label='close')

    #changePanel.modal(class=showChangePanel ? 'is-active' : '')
      #panelBg.modal-background
      .modal-content
        .box
          .article
            form(action='change' method='POST')
                input(type="hidden" name="_csrf" value=csrfToken)
                .field
                  label.label New Password
                  .control.has-icons-left
                    input#username.input(class=userErr ? 'is-danger' : '', type='password', placeholder='New password' name='pass1' required)
                    span.icon.is-small.is-left
                      i.fas.fa-lock
                .field
                  label.label Confirm New Password
                  .control.has-icons-left
                    input#password.input(class=passErr ? 'is-danger' : '', type='password', placeholder='New password' name='pass2' required)
                    span.icon.is-small.is-left
                      i.fas.fa-lock
                .field
                  p.control
                    input.button.is-success(type='submit' value='Zmień')
      #panelClose.modal-close.is-large(aria-label='close')
    
    //MAIN
    .main-container
      section.hero.is-dark
        .hero-body
          #introduction.container
            h1.title Wprowadzenie
            |                     Liczyć każdy może! Powodzenia!
      section.has-text-centered
        a#startButton.button.is-huge.is-success.is-round.is-centered(href='play.html') Start!
      section#instruction.message.is-dark
        .message-header Instrukcja
        .message-body
          | Quiz składa się z 10 pytań. Należy odpowiedzień na każde z nich. Za błedną odpowiedź jest kara czasowa.
          | Wynikiem końcowym jest łączny czas rozwiązania quizu.
      .columns.is-centered.has-text-centered
        .column.is-half.level
          section.level-item
            table#questions.table
              thead
                tr
                  th Pytanie
                  th Odpowiedź
                  th Kara
              tbody#questionTable
                tr
        .column.is-half.level
          section.level-item
            table#ranking.table
              thead
                tr
                  th Nick
                  th Poprawnych
                  th Czas
              tbody#rankingTable
